@mixin backgroundDetail($-Karakter, $-formatGambar) {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("/public/img/#{$-Karakter}.#{$-formatGambar}");
  background-position: top;
  background-size: cover;
}

#img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 4px double black;
  margin: 3rem auto;
  width: 800px;
  text-align: center;
  padding: 1rem;

  figure {
    position: relative;

    img {
      width: calc(800px / 3);
      height: calc(800px / 3);
      margin: 1rem;
      object-fit: cover;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        filter: brightness(50%);
      }

      &:hover + figcaption {
        opacity: 1;
        bottom: -5%;
        visibility: visible;
      }
    }

    figcaption {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      bottom: 10%;
      left: 40%;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      transition: 0.3s;
    }
  }
}

.char-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-template-rows: 85% 10%;
  position: fixed;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 90%;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1;
  transition: 0.5s;

  h1 {
    font-family: "Genshin Font", sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 3rem;
  }
  p {
    font-family: "Poppins", sans-serif;
    color: white;
  }

  img {
    display: block;
    margin: 1rem !important;
    width: 480px !important;
    cursor: default !important;
  }

  button {
    padding: 10px 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: white;
    background: none;
    border: 3px solid white;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.char-detail-active {
  opacity: 1;
  visibility: visible;
}

#Focalors {
  @include backgroundDetail(Focalors, png);
}
#HuTao {
  @include backgroundDetail(HuTao, jpg);
}
#Lumine {
  @include backgroundDetail(Lumine, jpg);
}
#Lynette {
  @include backgroundDetail(Lynette, png);
}
#Nahida {
  @include backgroundDetail(Nahida, jpg);
}
#Raiden {
  @include backgroundDetail(Raiden, jpg);
}
